<!doctype html>
<html>
  <head>
    <style>
      .on {
        fill: pink;
        stroke: red;
        stroke-width: 2;
      }
                
      .off {
        fill:white;
        stroke:black;
        stroke-width:1; 
      }

      #tooltip {
        background: cornsilk;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
      } 
    </style>
  </head>
                
  <body>
  {{ map_data|safe }}
    
    <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

    <script type="text/javascript"> 
      window.onload = function() {
        var x = document.getElementsByClassName("okres");

        for (var i = 0; i < x.length; i++) {
          x[i].addEventListener("click",  function(e){e.target.classList.toggle("on"); e.target.classList.toggle("off");}); 
        } 
      }

      function showTooltip(evt, text) {
        let tooltip = document.getElementById("tooltip");
        tooltip.innerHTML = text;
        tooltip.style.display = "block";
        tooltip.style.left = evt.pageX + 10 + 'px';
        tooltip.style.top = evt.pageY + 10 + 'px';
      }

      function hideTooltip() {
        var tooltip = document.getElementById("tooltip");
        tooltip.style.display = "none";
      }
    </script> 
  </body>
</html>